.site-header {
  padding: 0 30px;
}

.spec-page {
  display: flex;
}

.spec-nav, .spec-content {
  padding: 24px 20px;
}

.spec-nav {
  flex: 2;
  margin-top: 16px;
}

.spec-content {
  flex: 5;
}

.spec-right-border {
  flex: 1;
}

.spec-content ul > li:last-of-type {
    margin-bottom: $spacing-unit - 10;
}

.spec-content ul {
    list-style-type: disc;
}

.spec-nav ol {
    list-style-type: decimal;
}

.spec-nav ol > li > ol {
    list-style-type: lower-latin;
}